ion-label{
    color: var(--ion-color-mycolor)
  }

ion-toolbar{
    background-color: var(--ion-color-mycolor)
}

ion-toolbar{
    background-color: var(--ion-color-mycolor)
}

ion-button{
    color: var(--ion-color-negrita);
  }