<!--<ion-content [fullscreen]="true" class="ion-padding-horizontal">-->
  <ion-title class="ion-padding-top ion-text-center">
    <br>
    <ion-card>
      <h3 color="my color">Asistencias</h3>
    </ion-card>
    <br>
  </ion-title>
  <ion-card>
    <h1> Ramo 1
      <h3>100%(15 de 15 clases)</h3>
      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-datetime displayFormat="DD/MM/YY" min="2021-11-04" max="2021-12-31" value="" display-timezone="utc"></ion-datetime>
      </ion-item>
    </h1>
    <h1> Ramo 2
      <h3>100%(18 de 18 clases)</h3>
      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" min="2021-11-04" max="2021-12-31" value="" display-timezone="utc"></ion-datetime>
      </ion-item>
    </h1>
    <h1> Ramo 3
      <h3>100%(21 de 21 clases)</h3>
      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" min="2021-11-04" max="2021-12-31" value="" display-timezone="utc"></ion-datetime>
      </ion-item>
    </h1>
  </ion-card>
  